.alex-alfa{
    display: flex;
   max-width:  1200px;
    margin-right: 80px;
    margin-top: 50px;
    margin-left: 160px;
}


.svg-alex{
    padding-left: 16px;
    margin-top: 20px;
}


.alex-div{
width: 265px;
height: 248px;
top: 24px;
left: 25px;
opacity: 1;
background-color:#FBFBFB ;
}


.alex-h1{
      font-family: 'Cera Pro',;
width: auto;
height: 16.079601287841797px;
opacity: 1;
font-family: Cera Pro;
font-weight: 700;
font-size: 17px;
line-height: 16px;
letter-spacing: 0%;
padding-left: 16px;
margin-bottom: 1px;
}

.alex-p{
     font-family: 'Cera Pro',; 
width: 204;
height: 66.32836151123047;
top: 25.12px;
opacity: 1;
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
padding-left: 16px;
margin-top: 8px;
color: #727272;
padding-right: 40px;

}


.alex-sp{
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
margin-top: 30px;
color:#3D3D3D ;
}

.alex-section{
    background-color:#FBFBFB ;
    height: 248px;
    width: 400px;
    padding-left: 16px;
}



.input-alex{
width: 215px;
height: 40px;
opacity: 1;
border-radius: 6px;
color:#ACACAC ;
border: none;
padding-left: 20px;
margin-right: 0px;
}


.alex-btn{
width: 85px;
height: 40px;
left: 269px;
opacity: 1;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border: none;
background-color:#46A358 ;
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
border-radius: 6px;
color:#FFFFFF ;
}



.alex-pp{
  width: 354px;
height: 89px;
font-family: Cera Pro;
font-weight: 400;
font-size: 13px;
line-height: 22px;
letter-spacing: 0%;
color: #727272;
opacity: 1;
  max-width: 350px;
}



.alex-main{
    max-width: 1160px;
    margin-left: 160px;
    height:88px ;
    background-image:linear-gradient(to right, #EDF6EF, #52C368 );
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:space-between;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}


.alex-shop{
    color: #46A358;

}




.alex-p-text{
  font-family: 'Cera Pro',;
font-weight: 400px;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
color:#3D3D3D ;
max-width: 150px;
margin-left: 5px;
}

.alex-logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}

.alex-amega{
    display: flex;
    justify-content: space-around;
    margin-left: 160px;
    max-width: 1200px;
    background-color: #FBFBFB; 
    height: 236px;
}

.amega-div{
display: flex;
flex-direction: column;
}

.btn-div{
    display: flex;
    
}


.amega-h1{
     font-family: 'Cera Pro',;
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
color:#3D3D3D ;
margin-top: 35px;
}



.a-amega{
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;
color: #3D3D3D;
text-decoration: none;
}



.a-amega-btn{
width: 30px;
height: 30px;
opacity: 1;
border-radius: 4px;
border-width: 1px;
border-color:#46A35833 ;
background-color:#FBFBFB ;
margin-right: 10px;
}


.alex-doun{
    text-align: center;
}


.p-doun{
     font-family: 'Cera Pro',;
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;
color:#3D3D3D ;
opacity: 1;

}